# Ignorar archivos Sublime Text

*.sublime-project
*.sublime-workspace

# Ignorar archivos de CodeKit 

*.codekit


# Hola, soy "venga" y formo parte de un commit con error aunque yo no formo parte de él.